tr {
  color: blue;
  font-size: 18px;
}

tr,td {
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  padding: 0;
  margin: 0;
}

table {
  border-left: 2px solid blue;
  border-right: 2px solid blue;
}
